$color-dark: #224201;
$color-light: #f2f0ee;
$color-link: #d6b005;
$color-dark-hover: #6a8824;
$color-link-hover: #a88a02;

.p_mb {
  margin-bottom: 0;
}

.img_h {
  height: 2rem;
}

header,
footer {
  background-color: $color-dark;
  color: white;
  .navbar {
    padding: 0;
  }
  a,
  ul li .nav-link {
    color: white;
  }
  ul li .nav-link:hover {
    background-color: $color-dark-hover;
    color: white;
  }
  a:hover {
    color: $color-dark-hover;
  }
}

section {
  a,
  .nav-link {
    color: white;
  }
  a:hover,
  .nav-link:hover {
    background-color: $color-link;
    color: white;
  }
}

.bg_dark {
  background-color: $color-dark;
}

.bg_two {
  background-color: $color-light;
}

.btn {
  background-color: $color-link;
  border: none;
}

.btn:hover,
.btn::after,
.btn:focus,
.btn:active:hover {
  background-color: $color-link-hover;
  border: none;
}
